$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
.containerHeader {
  display: grid;
  justify-content: center;
}
.containerMarkdown {
  display: grid;
  margin: auto;
  width: 80%;
}
.containerNavbar {
}
.gridNavbar {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}
.itemNavbar {
  margin-left: 2rem;
}
.textHeader {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
}
.textMarkdown {
  font-size: 2.4rem;
  text-align: left;
}
.textNav {
  font-size: 2rem;
}

@include sm {
}

@include md {
  .textHeader {
    font-size: 10rem;
  }
  .textNav {
    font-size: 3rem;
  }
  .textMarkdown {
    font-size: 3.2rem;
  }
  .gridNavbar {
    grid-template-columns: 1fr 1fr;
  }
  .itemNavbar {
    width: 100%;
    margin-left: 2rem;
  }
}

@include lg {
  .textMarkdown {
    font-size: 4.4rem;
  }
}

@include xl {
}
