$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

.headerContainer {
  display: grid;
  justify-content: center;
}
.pageHeaderContainer {
  display: grid;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}
.headerText {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4rem;
}
.navbarContainer {
}
.navbarGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}
.navbarItem {
  margin-left: 2rem;
}
.navbarText {
  font-size: 2rem;
}
.navHomeContainer {
  margin: auto;
  margin-right: 2.5rem;
}
.navHomeText {
  margin-left: 0;
  font-size: 1.6rem;
  text-align: right;
}
.markdownContainer {
  display: grid;
  margin: auto;
  width: 90%;
}
.markdownText {
  margin-top: 0;
  font-size: 1.2rem;
}
.markdownTextHeadline {
  margin: auto 0;
  font-size: 4rem;
  text-align: left;
}
.projectsGridContainer {
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: 1fr;
  justify-content: space-between;
}
.projectsItemContainer {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  width: 90%;
}
.projectImageContainer {
  margin: 1rem;
  margin-top: 0;
}
.projectImage {
  width: 30rem;
  height: 30rem;
}
.projectTextContainer {
  display: grid;
  margin: 1rem;
  margin-bottom: 0rem;
  padding: 1rem;
  grid-template-columns: 1fr;
}
.projectTextLinkContainer {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr;
}
.projectText {
  font-size: 1.8rem;
  margin-bottom: 0;
}
.projectLinks {
  margin-top: 0;
  font-size: 1.8rem;
  text-align: right;
}

@include sm {
}

@include md {
  .headerText {
    font-size: 10rem;
  }
  .navbarGrid {
    grid-template-columns: 1fr 1fr;
  }
  .navbarItem {
    width: 100%;
    margin-left: 2rem;
  }
  .navbarText {
    font-size: 3rem;
  }
  .markdownContainer {
    width: 80%;
  }
  .markdownText {
    font-size: 3.2rem;
  }
  .projectsGridContainer {
    grid-template-columns: 1fr 1fr;
  }
  .projectImage {
    width: 60rem;
    height: 60rem;
  }
  .projectText {
    font-size: 3rem;
  }
  .projectLinks {
    font-size: 3rem;
  }
}

@include lg {
  .navHomeText {
    font-size: 4rem;
  }
  .markdownTextHeadline {
    font-size: 9rem;
  }
  .markdownText {
    font-size: 4.4rem;
  }
}

@include xl {
}
